<!DOCTYPE html>
<html lang="en">

<head>
    {{template "partial/head.html" .}}
</head>

<body class="container">
    {{template "partial/header.html" .}}
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8 text-center">{{.Error}}</p>
    </div>
    <script>
    "use strict";
    let colors = ["lightblue", "magenta", "limegreen", "mediumorchid", "black"];
    let i = 0;
    setInterval(function() {
        let nodes = document.querySelectorAll(".cool-color");
        for (let node of nodes) {
            node.style.color = colors[i];
        }
        i = (i + 1) % colors.length;
    }, 500);
    </script>
</body>
</html>