<!DOCTYPE html>
<html lang="en">

<head>
    {{template "partial/head.html" .}}
    <style>
        .cool-color {
            color: {{.Color}};
        }
        #editor { 
            height: 20em;
        }
    </style>
</head>

<body class="container">
    {{template "partial/header.html" .}}
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8">
            Hey there! I did not see you comming. It is {{.Name}}, right? So you have learn about HTTP Post and you want to have a chat about what we can post? Whatever, this is what I want to talk about. <i class="fa fa-smile-o"></i>
        </p>
        <p class="col-md-8">For more information go to <a href="https://en.wikipedia.org/wiki/Media_type">Wikipedia</a>.</p>
    </div>
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8">Below, is the request I received from your browser:</p>
        <div id="editor" class="col-md-8">function foo(items) {
            var x = "All this is syntax highlighted";
            return x;
        }</div>
    </div>
    <script src="/static/ace-builds-1.2.8/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
    </script>
</body>

</html>