<!DOCTYPE html>
<html lang="en">

<head>
    {{template "partial/head.html" .}}
    <style>
        .cool-color {
            /* remove VSCode warning */
            --favorite-color: {{.Color}};
            color: var(--favorite-color);
        }
    </style>
</head>

<body class="container">
    {{template "partial/header.html" .}}
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8">
            Welcome back {{.Name}}! Nice seeing you again, I did not know you were a master in query string! Have you heard about HTTP request's body? This is where you can put additional data when you don't want it to be in the user history (like a password). If
            you use a form with the <code>POST</code> method your browser will also send the data in the request's body.
        </p>
        <p class="col-md-8">For more information go to <a href="https://en.wikipedia.org/wiki/POST_(HTTP)">Wikipedia</a>.</p>
    </div>
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8">Below, is the request I received from your browser:</p>
        <pre class="col-md-8">{{.Request}}</pre>
        <p class="col-md-8">Let's continue our little talk on the next page. Just fill the following form, it will take you there:</p>
        <form class="col-md-6" method="POST" action="/http-media/">
            <input type="hidden" value="{{.Name}}" name="name">
            <input type="hidden" value="{{.Color}}" name="color">
            <div class="form-group">
                <label for="kind-word">Something to say?</label>
                <input type="text" class="form-control" id="kind-word" placeholder="Type something nice" name="kind-word">
            </div>
            <div class="form-group">
                <label for="fun-gauge">Having fun:</label>
                <select class="form-control" id="fun-gauge" name="fun-gauge">
                    <option>Awesome!</option>
                    <option>Quite cool.</option>
                    <option>Whatever.</option>
                    <option>Booooring...</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>