<!DOCTYPE html>
<html lang="en">

{{template "partial/head.html" .}}

<body class="container">
    {{template "partial/header.html" .}}
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8 text-center">Well done, you have just made an HTTP request!</p>
        <p class="col-md-8">
            HTTP request are query sent from a client to a server. Most of the time, the client is your browser and the server is a website. You can demand various action from the server, the most common are <code>GET, POST, PUT, DELETE</code>. Most of
            the time, your browser uses <code>GET</code> to request specific page from the server. For more information go to the <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">HTTP page on Wikipedia</a>.</p>
    </div>
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8">Below, is the request I received from your browser:</p>
        <pre class="col-md-8">{{.Request}}</pre>
        <p class="col-md-8">Let's continue our little chat at <a href="/http-query/">/http-query/</a>.
    </div>
</body>

</html>