<!DOCTYPE html>
<html lang="en">

<head>
    {{template "partial/head.html" .}}
    <style>
        .code-area {
            font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
        }
    </style>
</head>

<body class="container">
    {{template "partial/header.html" .}}
    <div class="mt-2 col-md-8 offset-md-2">
        <p class="text-center">Well done, you have just made an HTTP request!</p>
        <p>
            HTTP request are query sent from a client to a server. Most of the time, the client is your browser and the server is a website. You can demand various action from the server, the most common are <code>GET, POST, PUT, DELETE</code>. The action
            must be follow by a path (<code>/http-basics/</code>, <code>/wiki/Hypertext_Transfer_Protocol</code>) and a protocol version (<code>HTTP/1.1</code>, <code>HTTP2</code>). Most of the time, your browser uses <code>GET</code> to request specific
            page from the server.
        </p>
        <p>For more information go to <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">Wikipedia</a>.</p>
    </div>
    <div class="col-md-8 offset-md-2 mt-2">
        <p>Below, is the request I received:</p>
        <pre><code class="HTTP">{{.Request}}</code></pre>
        <p>To continue to the next you will need to make your own HTTP request:</p>
        <form method="POST" action="/http-parse/">
            <textarea class="form-control code-area" name="request" placeholder="GET /my/url/ HTTP/1.1..."></textarea>
            <input type="submit" class="btn btn-primary" value="Go!">
        </form>
    </div>
</body>

</html>
