<!DOCTYPE html>
<html lang="en">

<head>
    {{template "partial/head.html" .}}
</head>

<body class="container">
    {{template "partial/header.html" .}}
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8 text-center">Well done, you have just made an HTTP request!</p>
        <p class="col-md-8">
            HTTP request are query sent from a client to a server. Most of the time, the client is your browser and the server is a website. You can demand various action from the server, the most common are <code>GET, POST, PUT, DELETE</code>. The action
            must be follow by a path (<code>/http-basics/</code>, <code>/wiki/Hypertext_Transfer_Protocol</code>) and a protocol version (<code>HTTP/1.1</code>, <code>HTTP2</code>). Most of the time, your browser uses <code>GET</code> to request specific
            page from the server.
        </p>
        <p class="col-md-8">For more information go to <a href="https://en.wikipedia.org/wiki/Hypertext_Transfer_Protocol">Wikipedia</a>.</p>
    </div>
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8">Below, is the request I received from your browser:</p>
        <pre class="col-md-8">
            <code class="HTTP">{{.Request}}</code>
        </pre>
        <p class="col-md-8">Let's continue our little chat at <a href="/http-query/">/http-query/</a>.
    </div>
</body>

</html>
