<!DOCTYPE html>
<html lang="en">

<head>
    {{template "partial/head.html" .}}
    <style>
        .cool-color {
            color: {{.Color}}
        }
    </style>
</head>

<body class="container">
    <header>
        <h1 class="text-center">{{.Title}}</h1>
    </header>
    <div class="text-center mt-3 cool-color">
        <i class="fa {{.Icon}}" style="font-size: 10em;"></i>
    </div>
    {{if .Color}}
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8">
            Welcome back {{.Name}}! Nice seeing you again, I did not know you were a master in query string! Have you heard about HTTP request's body? This is where you can put additional data when you don't want it to be in the user history (like a password). If you use a form with the <code>POST</code> method your browser will also send the data in the request's body.
        </p>
        <p class="col-md-8">For more information go to <a href="https://en.wikipedia.org/wiki/POST_(HTTP)">Wikipedia</a>.</p>
        <p class="col-md-8">Let's continue our little talk on the next page. Just fill the following form, it will take you there:</p>
        <form class="col-md-6" method="POST" action="/http-content/">
            <input type="hidden" value="{{.Name}}" name="name">
            <input type="hidden" value="{{.Color}}" name="color">
            <div class="form-group">
                <label for="say">Something to say?</label>
                <input type="text" class="form-control" id="say" placeholder="Type a cute word" name="say">
            </div>
            <div class="form-group">
                <label for="fun">Having fun:</label>
                <select class="form-control" id="fun" name="fun">
                    <option>Awesome!</option>
                    <option>Quite cool.</option>
                    <option>Whatever.</option>
                    <option>Booooring...</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8">Below, is the request I received from your browser:</p>
        <pre class="col-md-8">{{.Request}}</pre>
    </div>
    {{else}}
    <div class="row justify-content-md-center mt-2">
        <p class="col-md-8 text-center">Sorry, I am confuse... What is your favorite color again? Did we met before?</p>
    </div>
    <script>
        "use strict";
        let colors = ["lightblue", "magenta", "limegreen", "mediumorchid", "black"];
        let i = 0;
        setInterval(function() {
            let nodes = document.querySelectorAll(".cool-color");
            for (let node of nodes) {
                node.style.color = colors[i];
            }
            i = (i + 1)%colors.length;
        }, 500);
    </script>
    {{end}}
</body>

</html>