<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <title>HTTP Horror</title>
</head>

<body>
    <header class="container">
        <h1 class="text-centered">H77P H02202</h1>
    </header>
    <div class="container">
        <img src="" alt="">
    </div>
    <article class="container">
        <h2>{{.Title}}</h2>
        <section>{{.Text}}</section>
    </article>
</body>

</html>